.App {
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 1rem;
  max-width: 600px;
}

.App-logo {
  height: 32px;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.App-nav {
  display: flex;
  align-items: center;
}

.App-content {
  padding-top: 1rem;
  align-items: flex-start;
  text-align: center;
}

.button {
  font-family: 'Rajdhani', sans-serif;
  padding: .375rem .75rem;
  text-align: center;
  background: white;
  color: black;
  text-transform: capitalize;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.App-profile {
  margin-top: 1rem;
}

.App-access-token {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
}

.App-access-token-container {
  margin-bottom: 1rem;
  border: 1px solid #888;
  padding: 0.5rem;
  text-align: left;
  word-break: break-all;
  white-space: pre-wrap;
  font-family: monospace;
}

.link {
  background: none;
  border: none;
  font-family: 'Rajdhani', sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  text-decoration: underline;
  color: #00ff8c;
  cursor: pointer;
}

.link:hover {
  opacity: 0.8;
}

.align-self-center {
  align-self: center;
}